@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  .register-user {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 320px;
  }

  .register-shelter {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 320px;
  }

  .RegisterAs {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 320px;
  }

  .login-user {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 320px;
  }

  .login-shelter {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 320px;
  }

  .LoginAs {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 320px;
  }

  .page-title {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 320px;
  }

  
}
