.animal-profile-container {
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-direction: row; */
    margin: 100px auto;
    width: 90%;
    height: 200%;
    background-color: #EFEFEF;
    box-shadow: 0px 5px 10px -2px #a0a0a0;
    border-radius: 10px;
    padding-top: 20px;
}

.animal-details {
  display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
    /* width: 50%; */
    margin-top: 50px;
    height: 100%;
    padding-right: 6%;
    padding-left: 6%;
}
.animal-note {
  font-size: 3rem;
margin-top: 15px;
}

.animal-bio {
  padding: 100px 40px;
  width: 50%;
}
.animal-profile-title {
  font-family: 'Fredoka One', sans-serif;
  font-size: 60px;
  text-align: center;
}    

.animal-profile-img-top {
  height: 40rem;
  /* border: thin solid; */
  margin-left: 60px;
}

.animal-profile-imageclass { 
  display: flex;
  margin: 10px auto 0 auto;
  justify-content: center;
  // height: 200px; 
  // width: 220px; 
}

.animal-profile-caption {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.caption-categories {
  font-size: 3rem;
  text-align: left;
  margin-top: 25px;
  width: 80%;
  padding-right: 10px;
  margin-left: 70px;
}

.animal-profile-text {
  font-size: 3rem;
  display: flex;
  flex-wrap: nowrap;
  text-align: left;
  width: 70%;
  padding-left: 10px;
  margin-top: 25px;
}

.about-me {
  font-family: 'Fredoka One', sans-serif;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 10px;
}

.pawdopt-me {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

.animal-bio-text {
  font-size: 3rem;
  margin: 10px 25px;
}

.adopt-me-button {
  font-family: 'Fredoka One', sans-serif;
  color: white;
  background-color: #7091E2;
  font-size: 40px;
  margin-right: 10px;
  margin-top: 10px;
  height: 100px;
  width: 400px;
  border-radius: 10px;
}