.animal-profile-container {
  font-family: 'Fredoka One', cursive;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 100px auto;
  width: 90%;
  height: 200%;
  background-image: linear-gradient(rgb(0, 183, 255), rgb(112, 236, 245));
  border-radius: 30px;
}

.animal-details {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  margin-top: 50px;
  height: 100%;
  padding-right: 6%;
  padding-left: 6%;
}
.animal-note {
  font-size: 3rem;
margin-top: 15px;
}

.animal-bio {
  padding: 100px 40px;
  width: 50%;
}
.animal-profile-title {
  font-size: 10rem;
  text-align: center;
}    

.animal-profile-img-top {
  height: 40rem;
  border: thin solid;  
}

.animal-profile-imageclass { 
  display: flex;
  margin: 10px auto 0 auto;
  justify-content: center;
  // height: 200px; 
  // width: 220px; 
}

.animal-profile-caption {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.caption-categories {
  font-size:3rem;
  text-align: right;
  margin-top: 25px;
  width: 50%;
  padding-right: 10px;

}

.animal-profile-text {
  font-size: 3rem;
  display: flex;
  flex-wrap: nowrap;
  text-align: left;
  width: 70%;
  padding-left: 10px;
  margin-top: 25px;
}

.about-me {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 10px;
}

.pawdopt-me {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

.animal-bio-text {
  font-size: 3rem;
}