.card-img-top {
  height: 22rem;
  border: thin solid;

  // width: unset;
  // border-bottom-left-radius: 10;
  // border-bottom-right-radius: 10;
  
}

.imageclass { 
  display: flex;
  margin: 10px auto 0 auto;
  justify-content: center;
  align-items: center;
  height: 200px; 
  width: 220px; 
  overflow: hidden; 
  display: flex;
  justify-content: center;
  
}

.card {
  font-family: 'Fredoka One', cursive;
  display: grid;
  justify-content: center;
  flex-direction: col;
  text-align-last: center;
  border: thin solid;
  margin: 1rem;
  width: 250px;
  padding: 0px 5px;
  border-radius: 10px;
  background-image: linear-gradient(rgb(0, 183, 255), rgb(112, 236, 245));
  opacity: 85%;
  
  &:hover {
    opacity: 100;
    // box-shadow: 2px 2px grey;
  }
  
}

// .card-body {
//   display: flex;
//   align-items: center;
// }

.animal-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-top: 5em;
 }

svg {
   margin: 8px;
   color: black;

   // background-size: 200px 300px;
  &:hover {
    color: pink;
  }
  
}

.favourited-animal {
  color: red;
}

// #heart {
//   color: rgb(245, 104, 69);
//   // background-size: 200px 300px;
//   &:hover {
//     color: red;

//   }
// }
.animal-article {
  margin-top: 150px;
}