body {
  margin-top: 6rem;
  background: none;
}

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  text-align-last: center;
  padding: 5px;
}

input {
  padding-right: 10px;
}

h1 {
  text-align: center;
}


//full background image
html { 
  background: url('../images/dog3.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}