body {
  margin-top: 6rem;
}

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  text-align-last: center;
  padding: 5px;
}

input {
  padding-right: 10px;
}

h1 {
  text-align: center;
}