
input {
  padding-right: 10px;
}

h1 {
  text-align: center;
}


//full background image
// html { 
//   background: url('../images/dog3.jpeg') no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
