.set-filter {
  display: flex;
  width:100%;
  justify-content: center;
  z-index: 3;
  background-color: white;
}

.header {
  height: 320px;
  background: url('../images/pawdopt-cover-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  z-index: 2s;
  margin-top: 60px;
}

.category-selector {
  width: 16rem;
  height: 54px;
  margin: 1rem;
  align-self: flex-end;
  cursor: pointer !important;
}

.slogan {
  display: flex;
  align-items: center;
  position: relative;
  top: 200px;
  left: 5%;
  font-size: 4vw;
  // font-family: 'Fredoka One', sans-serif;
  color: #6d6d6d;
  margin: 10px;
  z-index: 3;
}

.sticky {
  position: fixed;
  top: 60px;
}