@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
  .Register {
    padding: 60px 0;
  }

  .Register form {
    margin: 0 10px;
    max-width: 320px;
  }
  .register-user {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 320px;
  }

  .register-shelter {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 320px;
  }

  .RegisterAs {
    padding: 120px 0;
    margin: 0 auto;
    max-width: 320px;
  }

  .login-user {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 320px;
  }

  .login-shelter {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 320px;
  }

  .LoginAs {
    padding: 120px 0;
    margin: 0 auto;
    max-width: 320px;
  }

  .page-title {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 320px;
  }
  .register-page-title {
    padding: 20px 0;
    /* margin: 0 auto; */
    max-width: 320px;
  }

  .btn-block {
   margin-bottom: 20px; 
  }

  
}
