.navbar {
  background-color: #24252A;
  width: 100%;
  height: 4em;
  top: 0;
  display: flex;
  position: fixed;
  font-family: 'Fredoka One', cursive;

  .navbar-logo {
    z-index: 1000 !important;
    align-items: center;
    z-index: 1000;
    height: 90%;
    margin-top: auto;
  }

  .navbar-items {
    @extend .navbar;
    font-size: 1.5em;
    justify-content: flex-end;
    align-items: center;
    color: #edf0f1;
  }

  .navbar-name {

    @extend .navbar;
    font-size: 2.5rem;

    
  }

  .navbar-about {
    @extend .set-default-text;
    margin-left: 1rem;
    margin-right:1rem;
  }
  .navbar-login {
    @extend .set-default-text;
    margin-left: .5rem;
    margin-right:.5rem;

  }

  .navbar-register {
    @extend .set-default-text;
    margin-left: .5rem;
    margin-right:1rem;
  }


  .navbar-name:hover {
    color: #95dff3;
  }

  .navbar-about:hover {
    color: #95dff3;;
  }
  .navbar-login:hover {
    color: #95dff3;
  }

};




.set-default-text {
  color: #edf0f1;
  text-decoration: inherit;
}