.navbar {
  background-color: #7091E2;
  width: 100%;
  height: 60px;
  top: 0;
  display: flex;
  position: fixed;
  font-family: 'Fredoka One', cursive;
  z-index: 4;
}

.navbar-logo {
  z-index: 1000 !important;
  align-items: center;
  margin-top: 5px;
  margin-left: 5px;
  height: 40px;

   img {
     height: 120%;
   }
}

.to-profile-page {
  color: white;
  font-style: none;
}

.navbar-items {
  @extend .navbar;
  font-size: 1.5em;
  justify-content: flex-end;
  align-items: center;
  color: #edf0f1;
}

.navbar-name {

  @extend .navbar;
  font-size: 2.5rem;

  
}

.navbar-about {
  @extend .set-default-text;
  margin-left: 1rem;
  margin-right:1rem;
}
.navbar-login {
  @extend .set-default-text;
  margin-left: .5rem;
  margin-right: 5px;

}

.navbar-register {
  @extend .set-default-text;
  margin-left: .5rem;
  margin-right:1rem;
}


.navbar-name:hover {
  color: #95dff3;
}

.navbar-about:hover {
  color: #95dff3;;
}
.navbar-login:hover {
  color: #95dff3;
}

.set-default-text {
  color: white;
  text-decoration: inherit;
}

.btn-default {
  margin-right: 10px;
}