.shelter-page {
  display: flex;
  top: 40px;
}
.shelter-profile {
  margin: auto;
  margin-top: 80px;
  height: 350px;
  text-align: center;
  justify-content: center;
  background-color: #EFEFEF;
  width: 95%;
  box-shadow: 0px 5px 10px -2px rgb(160, 160, 160);
}
.shelter-animal-section {
  width: 95%;
  margin: auto;
  box-shadow: 0px 5px 10px -2px rgb(160, 160, 160);
}

.shelter-container {
  width: 100%;
}

.shelter-animals {
  height: 300px;
  width: 95%;
  overflow: scroll;
  white-space: nowrap;
  margin: auto;
}

.shelter-animal-img {
  border: 1px solid rgb(151, 151, 151);
  border-radius: 2px;
  padding: 5px;
  width: 150px;
  height: auto;
}

.shelter-logo {
  width: 200px;
  height: auto;
  margin-top: 20px;
}

.edit-shelter-button {
  text-align: center;
}

.title {
    font-size: 30px;
    font-family: 'Fredoka One', sans-serif;
    color: #585858;
    margin: 15px 15px 5px;
    z-index: 3;
}
.animal-card {
  width: 220px;
  height: 90%;
  display: inline-block;
  text-align: center;
  flex-direction: column;
  margin: 1em;
  border: thin solid grey;
  border-radius: 10px;
}

.animalphoto {
  display: flex;
  margin: 10px auto 0 auto;
  justify-content: center;
  align-items: center;
  height: 150px; 
  max-width: 200px; 
  overflow: hidden; 
  display: flex;
  justify-content: center;

}

.card-header {
  margin-top: 10px;
}

.edit-animal-button {
  border-style: none;
}

.popup {  
  position: fixed;  
  width: 80%;  
  height: 80%;  
  top: 100px;  
  left: 10%;  
  bottom: 0;  
  margin: auto;
  border: thin solid #7091E2;  
  background-color: rgba(255, 255, 255, 0.959);  
  z-index: 5;
}  
.popup-content{  
  position: absolute;  
  left: 5%;  
  right: 5%;  
  top: 5%;  
  bottom: 5%;  
  margin: auto;  
  background: white;  
  overflow-y: scroll;
}

.shelter-applications {
  box-shadow: 0px 5px 10px -2px rgb(160, 160, 160);
  width: 95%;
  margin: auto;
  margin-top: 20px;
  height: 470px;
  background-color: #EFEFEF;
 }

table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 90%;

  td {
    padding: 1rem;
    border-top: 2px solid rgba(128, 128, 128, 0.658); 
    font-size: 20px;
  }

  th {
    padding: 1rem;
    font-family: 'Fredoka One', sans-serif;
    color: #585858;
    font-size: 25px;
  }
}