.shelter-profile {
  display: flex;
  align-content: center;
  justify-content: center;
}

.shelter-animal-img {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px;
  width: 150px;
  height: auto;
}

.shelter-logo {
  width: 200px;
  height: auto;
}

.animalphoto {
  width: 200px;
  height: auto;
}