.user-profile {

  .welcome {
    font-family: 'Fredoka One', sans-serif;
    position: relative;
    top: 70px;

  }

  .user-profile-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px auto;
    width: 95%;
    height: 200%;
    background-color: #EFEFEF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 5px 10px -2px rgb(160, 160, 160);
  }

  .user-details {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 30%;
    margin: 50px;
    height: 100%;
    /* margin-right: 4%; */
    /* margin-left: 4%; */
    border-radius: 10px;
  }
  .user-note {
    font-size: 3rem;
    margin-top: 15px;
  }

  .user-bio {
    padding: 100px 40px;
  }
  .user-profile-title {
    font-size: 25px;
    text-align: left;
  }    

  .user-profile-imageclass { 
    display: inline-block;
    position: relative;
    height: 200px; 
    width: 200px;
    overflow: hidden;
    border-radius: 50%;

  }
  .user-profile-imageclass img {
    width: auto;
    height: 100%;
  }

  .user-profile-caption {
    display: flex;
    // flex-direction: row;
    width: 100%;
  }

  .caption-categories {
    font-size:4rem;
    text-align: left;
    margin-bottom: 10px;


  }

  .user-profile-text {
    font-size: 25px;
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    width: 70%;
    padding-left: 10px;
    margin-top: 25px;
  }

  .about-me {
    font-size: 4rem;
    text-align: left;
    margin-bottom: 10px;
  }

  .pawdopt-me {
    display: flex;
    justify-content: center;
    margin-top: 20px;

  }

  .user-bio-text {
    font-size: 25px;
  }

  .animal-grid {
    margin-top: 0px;
    white-space: nowrap;
    overflow-x: auto;
    height: 380px;
    flex-wrap: nowrap;
    justify-content: left;
    width:95%;
  }

  .card {
    display: inline-block;
  }

  .profile-section {
    box-shadow: 0px 5px 10px -2px rgb(160, 160, 160);
    width: 95%;
    margin: auto;
    height: 470px;
    padding-top: 15px;
  
  }
  .profile-section-applications {
    box-shadow: 0px 5px 10px -2px rgb(160, 160, 160);
    width: 95%;
    margin: auto;
    margin-top: 20px;
    height: 470px;
    padding-top: 15px;
    background-color: #EFEFEF;
   }

  table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 90%;

    td {
      padding: 1rem;
      border-top: 2px solid rgba(128, 128, 128, 0.658); 
      font-size: 20px;
    }

    th {
      padding: 1rem;
      font-family: 'Fredoka One', sans-serif;
      color: #585858;
      font-size: 25px;
    }
  }
  

}